doctype html
html(lang='ko')
  head
    block title
     title Oxygenbnb
    meta(charset='UTF-8')
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.js')
    script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/lodash/lodash.min.js')
    script(src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js")
    script(src="//apis.daum.net/maps/maps3.js?apikey=&libraries=services")
  body
    block topnav
      include ./include/topnav
    block head
    if flashMessages 
          each texts, type in flashMessages 
            .container
              .alert(class='alert-#{type}') 
                each msg in texts 
                  p= msg   
    block content
    block footer
