extends ../layout

block content
  .container
    h1 Singin
    form.form-signin(action='/signin', method='POST')
      .input-group.input-group-lg
        span.input-group-addon#sizing-addon1 Email
        input.form-control(type="email" id="email" name="email" placeholder="Email" aria-describedby="sizing-addon1", required)
      .input-group.input-group-lg
        span.input-group-addon#sizing-addon1 Password
        input.form-control(type="password" id="password" name="password" placeholder="Password" aria-describedby="sizing-addon1", required)

      .btn-group.btn-group-lg(role="group" aria-label="...")
          button.btn.btn-default(type="submit") 로그인

    p OxygenBnb의 계정이 아직 없습니까?
    .btn-group.btn-group-lg(role="group" aria-label="...")
      button.btn.btn-default(type="button")
        a(href="/new") 회원가입하러 가기